.album-show-container{
    margin-left: 465px;
    margin-right: 465px;
    display: flex;
}

.album-show-container img{
    height: 350px;
    width: 350px;
}

.album-show-left{
    padding-top: 38px
}

.album-show-right{
    padding-top: 38px
}