.splash-message {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    min-height: 90px;
}

.splash-featured-container {
    background-color: #222;
    color: white;
    display: flex;
    min-height: 540px;
    flex-direction: row;
    justify-content: space-between;
    // width: 100%;
    padding-left: 300px;
    padding-right: 300px;
    flex-wrap: wrap;
}


.splash-main-featured-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.splash-side-featured-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.splash-side-featured{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 33%;
    background-size: cover;
    background-position: center;
    padding-left: 20px
}
